* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fafaf9;
    background-color: #292524;
    font-family: "Sono", sans-serif;
    padding: 48px 64px;
}

ul {
    list-style: none;
}

.hidden {
    display: none !important;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo img {
    width: 68px;
    height: 68px;
}

h1 {
    line-height: 1;
    font-size: 42px;
    text-transform: uppercase;
    font-family: "Coiny", sans-serif;
    margin-top: 6px;
}

.fact-form {
    padding: 16px 32px;
    margin-bottom: 40px;
    background-color: #44403c;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
}

.fact-form input,
.fact-form select {
    width: 220px;
    border: none;
    padding: 16px;
    font-size: 18px;
    border-radius: 100px;
    background-color: #78716c;
    color: inherit;
    font-family: inherit;
}

.fact-form input::placeholder {
    color: #a8a29e;
}

.fact-form input:first-child {
    flex-grow: 1;
}

.fact-form span {
    font-weight: 600;
    font-size: 18px;
    margin-right: 18px;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 48px;
}

.category {
    margin-bottom: 16px;
}

.fact {
    font-size: 20px;
    line-height: 1.4;
    background-color: #44403c;
    margin-bottom: 16px;
    padding: 16px 24px;
    letter-spacing: -1px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    gap: 24px;
}

.btn {
    color: inherit;
    border: none;
    padding: 16px 0 13px;
    line-height: 1;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Coiny', sans-serif;
    background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(110%) rotate(-2deg);
}

.btn-large {
    font-size: 20px;
    padding: 20px 32px 17px;
}

.btn-all-categories {
    margin-bottom: 16px;
    width: 100%;
}

.btn-category {
    width: 100%;
    background-image: none;
}

.source:link,
.source:visited {
    color: #a8a29e;
    text-decoration: none;
    margin-left: 12px;
    transition: 0.3s;
}

.source:hover,
.source:active {
    color: #3b82f6;
}

.tag {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Coiny", sans-serif;
    padding: 3px 10px 0;
    border-radius: 100px;
}

.vote-buttons {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    gap: 8px;
}

.vote-buttons button {
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 100px;
    background-color: #78716c;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.vote-buttons button:hover {
    background-color: #292524;
}

@media (max-width: 1200px) {
    .fact {
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
    }
}

@media (max-width: 1100px) {
    body {
        padding: 32px 48px;
    }

    .fact-form {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }

    .fact-form input,
    .fact-form select {
        width: auto;
    }
}

@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
    }
}